.nav {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
}

.links {
  display: flex;
}

.links > p {
  margin-left: 1.5rem;
  color: #303031;
  cursor: pointer;
}

.links > p:hover {
  color: #71a89e;
}

.navBtn {
  display: none;
}
.main {
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.HeroText > h1 {
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 45px;
  letter-spacing: 2px;
  color: #22322f;
}

.HeroText > p {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #303031;
}

.HeroText > button {
  margin-bottom: 20px;
  font-size: 15px;
  width: 200px;
  height: 50px;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  background-color: #71a89e;
  border: 2px solid black;
  box-shadow: 1px 1px #001;
  cursor: pointer;
}

.HeroText > button:hover {
  background-color: #96c5bc;
  font-weight: bold;
  box-shadow: 1px 1px 5px 5px rgba(36, 36, 43, 0.192);
}

@media screen and (max-width: 800px) {
  .links {
    display: none;
  }
  .HeroText > h1 {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .HeroText > p {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .navBtn {
    display: flex;
    justify-content: center;
    padding: 7px;
    align-items: center;
    width: 100px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px #001;
    cursor: pointer;
  }

  .navBtn:hover {
    background-color: #96c5bc;
    font-weight: bold;
    box-shadow: 1px 1px 5px 5px rgba(36, 36, 43, 0.192);
  }

  .navBtn > p {
    margin-left: 7px;
    font-size: 15px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 0 2rem;
  }

  .main {
    flex-direction: column;
    padding: 2rem;
  }
  .HeroText > h1 {
    font-size: 1.7rem;
    margin-top: 12px;
    letter-spacing: 1px;
  }

  .HeroText > p {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
  .HeroText > button {
    font-size: 13px;
    width: 150px;
  }
}
@media screen and (max-width: 380px) {
  .navBtn {
    display: flex;
    justify-content: center;
    padding: 7px;
    align-items: center;
    width: 80px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px #001;
  }
}
